<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ page.root_path }}public/css/styles.css">
    <link rel="stylesheet" href="{{ page.root_path }}public/css/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ page.root_path }}public/js/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>
          <img src="{{ page.root_path }}public/img/profile.jpg" alt="Patricia Patton, PhD">
          <a href="{{ page.root_path }}index.html">Patricia Patton, PhD</a>
        </h1>
        <p>Human Capital Strategist</p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <a href="{{ page.root_path }}about" class="button fork"><strong>Contact Patricia</strong></a>
        <div class="downloads">
          <ul>
            {% for post in site.posts %}
            <li><a href="/psl.com{{ post.url }}" class="button">{{ post.title }}</a></span></li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul>
        </ul>
      </nav>
      <section>
        <h3>{{ page.title }}</h3>

        {{ content }}

      </section>
      <footer>
        <p class="small">Copyright 2012 by <a href="/about">Patricia Patton</a>.</p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-36606453-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
